# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/tests/
/testsprite_tests/
/playwright-report-release/
/test-results/

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (mantener template pero no el .env.local con claves reales)
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Mantener template para el cliente
!.env.local.template

# vercel
.vercel

# editor local settings
.vscode/

# typescript
*.tsbuildinfo
next-env.d.ts
